
body {
    background-color: rgb(200, 196, 196);
}

ul,
li {
    list-style: none;
    padding: 10px;
    margin: auto;
    float: left;
}

nav {
    width: 100%;
}

a {
    text-decoration: none;
}

.bgcolor {
    background-color: rgb(158, 167, 172);
    width: 100%;
    border-radius: 10px;
    box-shadow: inset;
}

a.hover {
    background-color: aliceblue;
    transition: 2s;
    font-size: 30px;
}

.ignore {
    float: right;
    padding: 5px;
    margin: 5px;
}

.leftside {
    float: left;
    margin-top: 10px;
    margin-left: -10px;
    padding: 0 37px 0 50px;
    background-color: rgb(227, 133, 133);
    position: relative;
    z-index: 10;
    width: 270px;

}

.rightside {
    float: right;
    background-color: rgb(153, 127, 255);
    width: 270px;
    position: relative;
    margin-right: -10px;
    margin-top: 10px;
    padding: 0 50px 0 37px;
    z-index: 10;
}

.block {
    width: 100%;
    background-color: beige;
    padding: 5px;
    margin: 5px;
    height: 350px;
    position: static;
    top: 110px;
}

footer {
    clear: both;
    text-align: center;
}

.sidecontent h3 {
    border-bottom: 1px solid #cccc;
    margin-bottom: 10px;
    padding-bottom: 6px;
    font-weight: bold;
}

.tutorial {
    margin-bottom: 10px;
}

.sidetopcontent {
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #ccc;
}

.loginbox {
    margin: -100px -37px 0 -50px;
    padding: 27px 37px 0 0;
    height: 73;
}

.loginbox a {
    display: block;
    width: 224px;
    height: 27px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 27px;
}

.side_box {
    font-size: 12px;
}

.logincss {
    margin-left: 46px;
}

.registercss {
    margin-top: 3px;
    margin-left: 71px;
}

#middle {
    float: left;
    width: auto;
    padding: 0px;
    margin: -10px 15px 0 8px;
    background-color: aquamarine;
}

.section_block {
    width: 513px;
}

#middle .section_block {
    margin-left: -11px;
}

#middle .section_block .section_heading {
    color: #0033cc;
    height: 53px;
    padding: 0 12px 0 11px;
    line-height: 53px;
}

#main .section_block .section_body {
    padding: 0 17px 13px 16px;
}

.new_list {
    margin: 0 20px 20px;
}

p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.news_meta {
    vertical-align: middle;
}

.news_date {
    margin-right: 10px;
}

.work_schedule_table{
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #ccc;
}

.social_box{
    overflow: hidden;
    margin: -100px -50px 0 -30px;
    padding: 42px 50px 0 0;
    height: 58px;
}

.twitter{
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    width: 75px;
    height: 30px;
}

.facebook {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    width: 75px;
    height: 30px; 
}

.google{
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    width: 75px;
    height: 30px; 
}

.left_box{
    float: left;
    margin-top: 10px;
    margin-left: -10px;
    padding: 0 37px 0 50px;
    background-color: rgb(227, 133, 133);
    position: relative;
    z-index: 10;
    width: 270px;
}